<!DOCTYPE html>
<html lang="en">
<head>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<style>
	

		#box{
			width: 18rem;
			height: 12rem;
			border: 1px solid black;
			box-shadow: 2px 2px 2px black;
			position: relative;
			left: 35%;
			margin-top: 20%;

      }

      #log{

      	float: right;
      	margin-right: 1.8rem;
      	
      }
      input
      {
      	padding-right: 0.5rem;
      	border-radius: 5px;
      }
      body {
  background-image: url('images.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
					
	</style>
</head>
<body>

	<div class="container">
		<div id="box">
				<table cellpadding="20spx">
					<tr>
						<th>City</th>
						<td><input type="submit" value="Edit" class="btn-dark"></td>
						<td><input type="submit" value="Delete" class="btn-danger"></td>
					</tr>
					<tr>
						<th>Details</th>
						 <td><input type="submit" value="Edit" class="btn-dark"></td>
						 <td><input type="submit" value="Delete" class="btn-danger"></td>
					</tr>
				</table>
				<input type="submit" value="Logout" class="btn-primary" id="log">
				
			
			
		</div>
		
	</div>
	
</body>
</html>